.fc-style
  .group-form-item
    .ant-form-item-children
      display flex
      align-items center
      .form-item-content
        flex-grow 1
      .remove-from-item-btn
        padding 0 5px
  .ant-radio-wrapper
    margin 8px 8px 0 8px
  .ant-checkbox-wrapper
    margin 8px 8px 0 8px
  .ant-time-picker
    min-width 200px
  .ant-form-item-control-wrapper
    flex 1
  .group-add-btn
    margin-bottom 15px
  .custom-group
    border 1px solid #f1f1f1
    border-bottom none
    display flex
    align-items: center
    .group-content
      flex-grow 1
    .group-operation
      padding 0 10px
      
